<div class="container">
  <md-card class="login">
    <md-toolbar color="primary">Login</md-toolbar>

    <md-card-content appFlex>
      <md-spinner *ngIf="loading" color="accent"></md-spinner>

      <form #loginForm="ngForm" (submit)="login($event)" novalidate autocomplete="off"
        [class.opacity-50]="loading"
      >
        <div appLayout="row" appLayoutAlign="center">
          <md-icon>person</md-icon>
          <md-input name="username" placeholder="Username or email" type="text" required appFlex
            [(ngModel)]="username"
            [disabled]="loading"
            #usernameControl
          ></md-input>
        </div>

        <div appLayout="row" appLayoutAlign="center">
          <md-icon>security</md-icon>
          <md-input name="password" placeholder="Password" type="password" required appFlex
            [(ngModel)]="password"
            [disabled]="loading"
            #passwordControl
          ></md-input>
        </div>

        <div appLayout="row" appLayoutJustify="center">
          <button type="submit" md-raised-button color="primary"
            [disabled]="loginForm.invalid || loading"
          >Login</button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
