<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <md-card class="login">
    <md-toolbar color="primary">Login</md-toolbar>

    <md-card-content>
      <md-spinner *ngIf="loading" color="accent"></md-spinner>

      <form #loginForm="ngForm" (submit)="login($event)" novalidate autocomplete="off"
        [class.opacity-50]="loading"
      >
        <md-input-container>
          <md-icon md-prefix>person</md-icon>

          <input name="username" placeholder="Username or email" type="text" required
            mdInput
            [(ngModel)]="username"
            [disabled]="loading"
            #usernameControl
          />
        </md-input-container>

        <md-input-container>
          <md-icon md-prefix>security</md-icon>

          <input name="password" placeholder="Password" type="password" required
            mdInput
            [(ngModel)]="password"
            [disabled]="loading"
            #passwordControl
          />
        </md-input-container>

        <div>
          <button type="submit" md-raised-button color="primary"
            [disabled]="loginForm.invalid || loading"
          >Login</button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
