<div class="container">
  <md-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <!-- Common menus for all -->
        <button md-menu-item [routerLink]="['/about']">About</button>

        <!-- Menus for not logged in users -->
        <button *ngIf="!user" md-menu-item [routerLink]="['/auth/login']">Login</button>

        <!-- Menus for logged in users -->
        <button *ngIf="user" md-menu-item [routerLink]="['/auth/profile']">Profile</button>
        <button *ngIf="user" disabled md-menu-item [routerLink]="['/examples/authors']">Examples: Authors</button>
        <button *ngIf="user" disabled md-menu-item [routerLink]="['/examples/books']">Examples: Books</button>
        <button *ngIf="user" md-menu-item (click)="authService.logout()">Logout</button>
      </md-menu>

      <span>angular-cli-frontend</span>

      <span fxFlex></span>

      <span fxLayout="row" fxLayoutAlign="start center">
        <a
          md-button
          *ngFor="let locale of locales"
          (click)="changeLocale(locale)"
        >{{ locale.nameShort }}</a>

        <button *ngIf="user"
          md-mini-fab
          md-tooltip="Logout"
          tooltip-position="below"
          (click)="authService.logout()"
        >
          <md-icon>power_settings_new</md-icon>
        </button>

        <button *ngIf="!user"
          md-mini-fab
          md-tooltip="Login"
          tooltip-position="below"
          [routerLink]="['/auth/login']"
        >
          <md-icon>person</md-icon>
        </button>
      </span>
    </div>
  </md-toolbar>
</div>