/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

/**
 * Include the base styles for Angular Material core. We include this here so that you only
 * have to load a single css file for Angular Material in your app.
 */
@include mat-core();

/**
 * Define the palettes for your theme using the Material Design palettes available in palette.scss
 * (imported above). For each palette, you can optionally specify a default, lighter, and darker
 * hue.
 */
$frontend-app-primary: mat-palette($mat-blue-grey, 700, 500, 900);
$frontend-app-accent: mat-palette($mat-blue-grey, A400, A200, A700);

// The warn palette is optional (defaults to red).
$frontend-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-app-theme: mat-light-theme($frontend-app-primary, $frontend-app-accent, $frontend-app-warn);

/**
 * Include theme styles for core and each component used in your app.
 * Alternatively, you can import and @include the theme mixins for each component
 * that you are using.
 */
@include angular-material-theme($frontend-app-theme);